<!DOCTYPE html>
<html>
    <style>
        form  { 
            display: table;      
        }
        p     { 
            display: table-row;  
        }
        label { 
            display: table-cell; 
        }
        input { 
            display: table-cell; 
        }
        .content {
            max-width: 900px;
            margin: auto;
            padding: 10px;
            padding-top: 200px;
        }
    </style>
    <head>
        <title>
            trafficing website
        </title>
    </head>

    <body>
        <div class = "content">
            <form autocomplete = "off">
                <p>
                    <label for="a">A (1, 1) No victimization has occurred. </label>
                    <input id="a" type="text">
                </p>
                <br>
                <p>
                    <label for="b">B (1, 2) Successful recruitment of individual. </label>
                    <input id="b" type="text">
                </p>
                <br>
                <p>
                    <label for="c">C (1, 6) Mortality risk for general population individuals. </label>
                    <input id="c" type="text">
                </p>
                <br>
                <br>
                <p>
                    <label for="d">D (2, 2) Ongoing recruitment events, pre-exploitation. </label>
                    <input id="d" type="text">
                </p>
                <br>
                <p>
                    <label for="e">E (2, 3) Transition from recruitment to trafficking-exploitation activities. </label>
                    <input id="e" type="text">
                </p>
                <br>
                <p>
                    <label for="f">F (2, 4) Intervention event to recruited individual. </label>
                    <input id="f" type="text">
                </p>
                <br>
                <p>
                    <label for="g">G (2, 6) Mortality risk for recruited individuals.  </label>
                    <input id="g" type="text">
                </p>
                <br>
                <br>
                <p>
                    <label for="h">H (3, 3) Ongoing trafficking-exploitation events.  </label>
                    <input id="h" type="text">
                </p>
                <br>
                <p>
                    <label for="i">I (3, 4) Intervention event to exploited individual.  </label>
                    <input id="i" type="text">
                </p>
                <br>
                <p>
                    <label for="j">J (3, 6) Mortality risk for exploited individuals.  </label>
                    <input id="j" type="text">
                </p>
                <br>
                <br>

                <p>
                    <label for="k">K (4, 3) Unsuccessful intervention event.  (i.e. victim returns to exploitive situation).  </label>
                    <input id="k" type="text">
                </p>
                <br>
                <p>
                    <label for="l">L (4, 5) Successful intervention event. </label>
                    <input id="l" type="text">
                </p>
                <br>
                <br>

                <p>
                    <label for="m">M (5, 3) Survivor's return to exploitation. (this does not include independent sex work) </label>
                    <input id="m" type="text">
                </p>
                <br>
                <p>
                    <label for="n">N (5, 5) Ongoing post-victimization status as a Survivor.  </label>
                    <input id="n" type="text">
                </p>
                <br>
                <p>
                    <label for="o">O (5, 6) Mortality risk for survivor individuals.   </label>
                    <input id="o" type="text">
                </p>
                <br>
                <br>

                <p>
                    <label for="p">P (6, 6) Once death has occurred, the lifecycle is complete and Victim remains at death state.    </label>
                    <input id="p" type="text">
                </p>
                <br>




                <p>
                    <input type = "submit" name = "Submit" style="height:50px; width:100px">
                </p>
                
            </form>
        </div>

    </body>

    </body>
</html>