<!DOCTYPE html>
<html>
    <style>
        form  { 
            display: table;      
        }
        p     { 
            display: table-row;  
        }
        label { 
            display: table-cell; 
        }
        input { 
            display: table-cell; 
        }
        .content {
            max-width: 900px;
            margin: auto;
            padding: 10px;
            padding-top: 100px;
            text-align: justify;
        }
    </style>
    <head>
        <title>
            trafficing website
        </title>
    </head>

    <body>
        <div class = "content">
            <h1>
                UNDERSTANDING SEX TRAFFICKING VICTIMIZATION
            </h1>
            <br>
            <h2>
                Sex Trafficking Definition
            </h2>
            <p>
                The incidence of force, fraud, and/or coercion used for the purposes of sexual exploitation. Note any sexual exploitation of a minor (&lt;18 years old) is considered Sex Trafficking. (United Nations, 2000)
            </p>

            <h2>
                Background
            </h2>
            <p>
                This decision support system was developed for the anti-trafficking community as a tool to guide better understanding of how changes in probability/risk during an individual’s lifetime may impact their sex trafficking victimization experience. These changes may originate from the evolution of demand over time, implementation/enforcement of specific policies, or a social shift around the nature of sex trafficking. The foundational nature of this research offers significant opportunity for future exploration of how to best combat an ongoing problem in society today through rigorous computational analysis. 
            </p>

            <h2>
                Research Model
            </h2>
            <p>
                The research model is imaged below in both an application and technical format for analysis input and output. The two images correspond directly to each other, with one important note about the Trafficking and Exploitation states (i.e. State 3). While movement about all other states can be assumed to progress in a longer framework of time (e.g. month), the cycle between Trafficking and Exploitation events is known to occur much more frequently (e.g. up to multiple times per day). 
            </p>
            <br>
            <p>
                The first image summarizes the seven research-evidenced states of an individual at any point in their lifetime. An individual is assumed to be born into General Population and have a certain probability/risk/likelihood of moving along the arrows shown, amongst other states, as their life progresses. Each arrow represents a likelihood of transition, with the sum of departure arrows from any state adding to 1.00 (design follows attributes and requirements of Markov Modelling). Ultimately, every individual ends up in a Death state. 
            </p>

            <h2>
                Assumptions
            </h2>
            <p>
                The following are the primary assumptions to consider when using this research model. Probabilities are constant throughout the Individual’s lifetime. The step size throughout the model is monthly. Intervention is a one-step state. 
            </p>
            
            <h2>
                Notes
            </h2>
            <p>
                The following are notes to consider when using this research model. The model progresses in equal step-sizes. Probabilities A, D, H, and N enable there to be a likelihood associated with multiple steps in a state before departure (e.g. 10 months in Recruitment). Since the total probability of transitions from any given state (i.e. 1 through 6) totals 1.0, all but one value from each State needs to be known. (e.g. D+E+F+G = 1.0. Thus, 1-E-F-G=D can be used as the approach if probability D is unknown.) State 6 represents Death, which is an absorption state. Thus, Probability P always equals 1.0. Literature suggests the following probability relationship: C < O < J. The model reviews an individual’s lifetime progression as it relates to the experience of sex trafficking victimization. Output can be interpreted in terms of whole populations or sub-populations, as represented by the inputted probabilities.
            </p>
            <br>
            <h1>Inputs to assess Sex Trafficking Victimization Experience during Lifetime</h1>
            <br>
            <br>
            <img src = "/static/images/model.png" align = "center">
            <br>
            <br>

            <form action = "/submit" method = "post" autocomplete = "on">
                <p>
                    <label for="a">A (1, 1) No victimization has occurred. </label>
                    <input name="a" type="text" required>
                </p>
                <br>
                <p>
                    <label for="b">B (1, 2) Successful recruitment of individual. </label>
                    <input name="b" type="text" required>
                </p>
                <br>
                <p>
                    <label for="c">C (1, 6) Mortality risk for general population individuals. </label>
                    <input name="c" type="text" required>
                </p>
                <br>
                <p style = "color: red">
                    The probabilites should be summed to 1
                </p>
                <br>
                <br>
                <p>
                    <label for="d">D (2, 2) Ongoing recruitment events, pre-exploitation. </label>
                    <input name="d" type="text" required>
                </p>
                <br>
                <p>
                    <label for="e">E (2, 3) Transition from recruitment to trafficking-exploitation activities. </label>
                    <input name="e" type="text" required>
                </p>
                <br>
                <p>
                    <label for="f">F (2, 4) Intervention event to recruited individual. </label>
                    <input name="f" type="text" required>
                </p>
                <br>
                <p>
                    <label for="g">G (2, 6) Mortality risk for recruited individuals.  </label>
                    <input name="g" type="text" required>
                </p>
                <br>
                <p style = "color: red">
                    The probabilites should be summed to 1
                </p>
                <br>
                <p>
                    <label for="h">H (3, 3) Ongoing trafficking-exploitation events.  </label>
                    <input name="h" type="text" required>
                </p>
                <br>
                <p>
                    <label for="i">I (3, 4) Intervention event to exploited individual.  </label>
                    <input name="i" type="text" required>
                </p>
                <br>
                <p>
                    <label for="j">J (3, 6) Mortality risk for exploited individuals.  </label>
                    <input name="j" type="text" required>
                </p>
                <br>
                <p style = "color: red">
                    The probabilites should be summed to 1
                </p>
                <br>

                <p>
                    <label for="k">K (4, 3) Unsuccessful intervention event.  (i.e. victim returns to exploitive situation).  </label>
                    <input name="k" type="text" required>
                </p>
                <br>
                <p>
                    <label for="l">L (4, 5) Successful intervention event. </label>
                    <input name="l" type="text" required>
                </p>
                <br>
                <p style = "color: red">
                    The probabilites should be summed to 1
                </p>
                <br>

                <p>
                    <label for="m">M (5, 3) Survivor's return to exploitation. (this does not include independent sex work) </label>
                    <input name="m" type="text" required>
                </p>
                <br>
                <p>
                    <label for="n">N (5, 5) Ongoing post-victimization status as a Survivor.  </label>
                    <input name="n" type="text" required>
                </p>
                <br>
                <p>
                    <label for="o">O (5, 6) Mortality risk for survivor individuals.   </label>
                    <input name="o" type="text" required>
                </p>
                <br>
                <p style = "color: red">
                    The probabilites should be summed to 1
                </p>
                
                <br>

                <p>
                    <label for="p">P (6, 6) Once death has occurred, the lifecycle is complete and Victim remains at death state.    </label>
                    <input name="p" type="text" required>
                </p>
                <br>
                <p style = "color: red">
                    The probabilites should be summed to 1
                </p>
                <br>

                <p>
                    <input type = "submit" name = "Submit" style="height:50px; width:100px">
                </p>
                
            </form>

            <br>
            <br>
            <br>
            <img src = "/static/images/footer.png" align = "center">

        </div>

    </body>

</html>