<!DOCTYPE html>
<html>
    <style>
        form  { 
            display: table;      
        }
        p     { 
            display: table-row;  
        }
        label { 
            display: table-cell; 
        }
        input { 
            display: table-cell; 
        }
        .content {
            max-width: 900px;
            margin: auto;
            padding: 10px;
            padding-top: 100px;
        }
    </style>
    <head>
        <title>
            trafficing website
        </title>
    </head>

    <body>
        <div class = "content">
            <h1>Inputs to assess Sex Trafficking Victimization Experience during Lifetime</h1>
            <br>
            <br>
            <img src = "/static/images/model.png" align = "center">
            <br>
            <br>
            <p>
                <h3>
                    Assumptions:
                </h3>
                <li>
                    The Transition Probabilitiies are constant throughout the Individual's lifecycle. 
                </li>
                <li>
                    The step size throughout the model is Monthly. The Transition Probabilities need to reflect this scale. 
                </li>

                <h3>
                    Since the total probability of transitions from any given state (i.e. 1-6) totals 1, all but one value from each group needs to be known.
                </h3>
                <p>
                    For Example: From the second group of arcs (i.e. D, E, F, G). Only three of these four arc values need known. The fourth value will be a remainder to make the group total equal to 1.0. 
                </p>

                <h3>
                    Trafficking-Exploitation events comprise a subprocess that is summarized by State 3. The events occur relatively more quickly to the rest of the model.
                </h3>
                <h3>
                    Since State 6 represents Death, which is an absorption state, probability P will always be 1.0
                </h3>
                <h3>
                    Loose guideline from literature discussions: C < O < J
                </h3>

            </p>

            <form action = "/submit" method = "post" autocomplete = "on">
                <p>
                    <label for="a">A (1, 1) No victimization has occurred. </label>
                    <input name="a" type="text" required>
                </p>
                <br>
                <p>
                    <label for="b">B (1, 2) Successful recruitment of individual. </label>
                    <input name="b" type="text" required>
                </p>
                <br>
                <p>
                    <label for="c">C (1, 6) Mortality risk for general population individuals. </label>
                    <input name="c" type="text" required>
                </p>
                <br>
                <br>
                <p>
                    <label for="d">D (2, 2) Ongoing recruitment events, pre-exploitation. </label>
                    <input name="d" type="text" required>
                </p>
                <br>
                <p>
                    <label for="e">E (2, 3) Transition from recruitment to trafficking-exploitation activities. </label>
                    <input name="e" type="text" required>
                </p>
                <br>
                <p>
                    <label for="f">F (2, 4) Intervention event to recruited individual. </label>
                    <input name="f" type="text" required>
                </p>
                <br>
                <p>
                    <label for="g">G (2, 6) Mortality risk for recruited individuals.  </label>
                    <input name="g" type="text" required>
                </p>
                <br>
                <br>
                <p>
                    <label for="h">H (3, 3) Ongoing trafficking-exploitation events.  </label>
                    <input name="h" type="text" required>
                </p>
                <br>
                <p>
                    <label for="i">I (3, 4) Intervention event to exploited individual.  </label>
                    <input name="i" type="text" required>
                </p>
                <br>
                <p>
                    <label for="j">J (3, 6) Mortality risk for exploited individuals.  </label>
                    <input name="j" type="text" required>
                </p>
                <br>
                <br>

                <p>
                    <label for="k">K (4, 3) Unsuccessful intervention event.  (i.e. victim returns to exploitive situation).  </label>
                    <input name="k" type="text" required>
                </p>
                <br>
                <p>
                    <label for="l">L (4, 5) Successful intervention event. </label>
                    <input name="l" type="text" required>
                </p>
                <br>
                <br>

                <p>
                    <label for="m">M (5, 3) Survivor's return to exploitation. (this does not include independent sex work) </label>
                    <input name="m" type="text" required>
                </p>
                <br>
                <p>
                    <label for="n">N (5, 5) Ongoing post-victimization status as a Survivor.  </label>
                    <input name="n" type="text" required>
                </p>
                <br>
                <p>
                    <label for="o">O (5, 6) Mortality risk for survivor individuals.   </label>
                    <input name="o" type="text" required>
                </p>
                <br>
                <br>

                <p>
                    <label for="p">P (6, 6) Once death has occurred, the lifecycle is complete and Victim remains at death state.    </label>
                    <input name="p" type="text" required>
                </p>
                <br>

                <p>
                    <input type = "submit" name = "Submit" style="height:50px; width:100px">
                </p>
                
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{msg}}</p>
                    {% endfor%}
                {% endif %}
            {% endwith %}
        </div>

    </body>

    </body>
</html>