<!DOCTYPE html>
<html>
    <style>
        .content {
            max-width: 900px;
            margin: auto;
            padding: 10px;
            padding-top: 100px;
        }
    </style>
    <head>
        <title>
            trafficing website
        </title>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    </head>

    <body>
        <div class = "content">
            <div id="state_plot">

            </div>

            <br>
            <br>
            <div id="stage_plot">

            </div>

        </div>

    </body>

    <script>
        Plotly.newPlot("state_plot", {{ state_time | safe }})
    </script>
    <script>
        Plotly.newPlot("stage_plot", {{ stage_time | safe }})
    </script>

</html>